@import '../Vars.scss';

.about__container {
  height: auto;
  width: 100%;
}

.about__hero {
  background-image: url('../../statics/image/hero_1.jpg');
  @include hero;
}

.about__cardGroup {
  padding: 2rem 2rem 0 2rem;
  @include breakpoint(mobile) {
    margin: 0 1.25rem 0 1.25rem;
  }
  @include breakpoint(tablet) {
    margin: 0 0.25rem 0 0.25rem;
  }
}

.about__content {
  padding: 5%;
  margin: 0;
  color: #eeeedd;
}

.about__content-text,
p {
  font-size: 1rem;
  text-align: center;
  @include breakpoint(laptop) {
    font-size: 2rem;
  }
}
