.about__container {
  background-image: url('../../statics/image/5086.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.about__content {
  padding: 5%;
  margin: 0;
  color: #eeeedd;
}

.about__content-text,
p {
  font-size: 1rem;
}

@media (min-width: 1444px) and (min-width: 2560px) {
  .about__container {
    height: 100%;
    width: 100%;
  }

  .about__content-text,
  p {
    font-size: 3rem;
  }
}

.about__cardGroup {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5rem;
}
