@import '../Vars.scss';

.education__container {
  height: auto;
  width: 100%;
}

.education__hero {
  @include hero;
}

.education__content {
  margin: 2rem 3rem 2rem 3rem;
  padding: 2rem;
  @include breakpoint(mobileonly) {
    margin: 1rem;
    padding: 1rem;
  }
}

.education__content-title {
  h1 {
    color: $light-blue;
    border-bottom: 3px solid $wine;
    @include subtitles;
  }
}

//cards
.education__row-1 {
  flex-wrap: wrap;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
}

//diplomas
.education__row-2 {
  margin: 2rem 0 2rem 0;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  @include breakpoint(mobileonly) {
    display: block;
  }

  h1 {
    border-bottom: 3px solid $wine;
    color: $light-blue;
    width: 100%;
    @include subtitles;
  }
}

.education__diploma-container {
  @include breakpoint(mobileonly) {
    display: block;
  }

  @include breakpoint(laptop) {
    display: flex;
  }
}
