@import '../Vars.scss';

.header__container {
  background-color: $danger-color;
  box-shadow: 0 0.25rem 0.5rem rgba(52, 58, 64, 0.5);
  color: $light-blue;
  @include textResponsive;
}

.header__content {
  justify-content: center !important;
}

.header__brand {
  text-decoration: none;
  color: #eeeedd;
  margin-right: 1rem;
}
.header__brand:hover {
  text-decoration: none;
  color: $dark-color;
}

.header__item {
  text-decoration: none;
  color: #eeeedd;
  margin-right: 1.5rem;
  margin-left: 3rem;
}

.header__item:hover {
  text-decoration: none;
  color: $dark-color;
  font-weight: 700;
}

.navbar-toggler-icon {
  color: $dark-color;
 
}

.navbar-light, .navbar-toggler {
  border: 1px solid $dark-color !important;

}
