.header__container {
  background-color: #444444;
  box-shadow: 0 0.25rem 0.5rem rgba(52, 58, 64, 0.5);
  color: #eeeedd;
}
.header__brand {
  text-decoration: none;
  color: #eeeedd;
  margin-right: 25%;
  font-size: 18px;
}
.header__brand:hover {
  text-decoration: none;
  color: #559999;
}

.header__item {
  text-decoration: none;
  color: #eeeedd;
  margin-right: 1.5rem;
  font-size: 16px;
}

.header__item:hover {
  text-decoration: none;
  color: #559999;
}
