@import '../Vars.scss';

.home__container {
  background-image: url('../../statics//image/10137.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;

  @include breakpoint(mobileonly) {
    height: auto;
    max-width: auto;
  }
}

.home__content {
  padding: 5% 20% 0 20%;

  @include breakpoint(mobileonly) {
    padding: 5% 10% 0 10%;
    color: $light-blue;
  }
  @include breakpoint(tablet) {
    padding: 5%;
  }
}
.home__content-title {
  color: $light-blue;
  text-align: center;
  font-family: $title-font;

  @include breakpoint(mobileonly) {
    font-size: 2rem;
    padding: 3rem 0 0 0;
  }
  @include breakpoint(mobile) {
    font-size: 3rem;
    padding: 4.5rem 0 0 0;
  }
  @include breakpoint(tablet) {
    font-size: 3.5rem;
    padding: 6rem 0 0 0;
  }
  @include breakpoint(desktop) {
    font-size: 5.5rem;
    padding: 0;
    margin: 0;
  }
}

.home__content-text {
  text-align: center;
  line-height: 4.5rem;
  color: $light-blue;
  font-family: $title-font;

  @include breakpoint(mobileonly) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  @include breakpoint(mobile) {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  @include breakpoint(tablet) {
    font-size: 1.75rem;
    line-height: 3.5rem;
  }
  @include breakpoint(desktop) {
    font-size: 2.25rem;
    line-height: 4.5rem;
    padding-bottom: 5rem;
  }
}
.home__fotoPerfil {
  border-radius: 50px;
  opacity: 0.7;
  padding: 0;

  @include breakpoint(mobileonly) {
    width: 55%;
    height: auto;
    margin: 22.5%;
  }
  @include breakpoint(mobile) {
    width: 60%;
    height: auto;
    margin: 20%;
  }
  @include breakpoint(tablet) {
    width: 45%;
    height: auto;
    margin: 27.5%;
  }

  @include breakpoint(desktop) {
    width: 20%;
    height: auto;
    margin: 10% 40% 10% 40%;
  }
}

.home__social {
  display: flex;
  justify-content: center;
  padding: 3rem 0 4rem 0;
  @include breakpoint(desktop) {
    padding-top: 5rem;
  }
}

.home__social-icon {
  width: 3rem;
  height: 3rem;
  @include breakpoint(mobileonly) {
    width: 50%;
    height: 100%;
  }
  @include breakpoint(mobile) {
    width: 65%;
    height: 100%;
  }
}
