.home__container {
  background-image: url('../../statics//image/10137.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.home__content {
  padding: 5% 20% 0 20%;
  color: white;
}
.home__content-title {
  font-size: 5.5rem;
  color: #ccddcc;
  text-align: center;
}

.home__content-text {
  line-height: 4.5rem;
  color: #ccddcc;
}
.home__fotoPerfil {
  border-radius: 50px;
  width: 30vh;
  height: 45vh;
  opacity: 0.7;
  display: flex;
  text-align: center;
  display: block;
  margin: 0 auto 5rem auto;
}

.home__social {
  display: flex;
  padding: 10rem 0 10rem 0;
  margin: 0 25% 0 25%;
  align-items: center;
}

.home__social-icon {
  margin-right: 4rem;
  width: 3rem;
  height: 3rem;
}

@media (min-width: 220px) and (max-width: 425px) {
  .home__content-title {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 25%;
  }
}

@media (max-width: 1165px) {
  .home__container {
    height: 150vh;
    margin: 0;
    padding: 0;
    max-width: 100%;
    opacity: 1;
  }
}
