@import '../Vars.scss';

.home__container {
  @include homeBg;
  @include breakpoint(mobileonly) {
    padding-bottom: 50%;
    height: auto;
    max-width: auto;
  }
}

.home__content {
  padding: 5%;
}
.home__content-title {
  color: $light-blue;
  text-align: center;
  font-family: $title-font;

  @include breakpoint(mobileonly) {
    font-size: 3rem;
    padding: 3rem 0 0 0;
  }
  @include breakpoint(mobile) {
    font-size: 4rem;
    padding: 4.5rem 0 0 0;
  }
  @include breakpoint(tablet) {
    font-size: 4.5rem;
    padding: 6rem 0 0 0;
  }
  @include breakpoint(desktop) {
    font-size: 6.5rem;
    padding: 0;
    margin: 0;
  }
  @include breakpoint(largedevice) {
    font-size: 7.5rem;
    padding: 0;
    margin: 0;
  }
}

.home__content-text {
  padding-bottom: 3rem;
  text-align: center;
  line-height: 5rem;
  color: $light-blue;
  font-family: $title-font;
  @include textResponsive;

  @include breakpoint(mobileonly) {
    line-height: 3rem;
    margin: 5% 17% 0 17%;
  }
  @include breakpoint(mobile) {
    line-height: 3rem;
    margin: 5% 22% 0 22%;
  }
}
.home__fotoPerfil {
  border-radius: 50px;
  opacity: 0.7;
  padding: 0;

  @include breakpoint(mobileonly) {
    width: 35%;
    height: auto;
    margin: 12.5% 32.5% 5% 32.5%;
  }
  @include breakpoint(mobile) {
    width: 50%;
    height: auto;
    margin: 15% 25% 5% 25%;
  }
  @include breakpoint(tablet) {
    width: 20%;
    height: auto;
    margin: 12.5% 40% 7% 40%;
  }

  @include breakpoint(desktop) {
    width: 15%;
    height: auto;
    margin: 10% 42.5% 1.75% 42.5%;
  }
}

.home__social {
  display: flex;
  justify-content: center;
  padding: 1rem 0 3rem 0;
  @include breakpoint(desktop) {
    padding-top: 3rem;
  }
}

.home__social-icon {
  @include flexCenter;

  margin-right: 1rem;
  text-align: center;
  @include breakpoint(mobileonly) {
    font-size: 0.5rem;
    width: 3rem;
  }
}
