.hobbies__image {
  max-width: 100%;
  height: 35%;
}
.hobbie__card-body {
  height: 55%;
}
.hobbie__body-text {
  font-size: 10px;
}

.hobbie__cards:hover {
  opacity: 1;
}

.hobbie__cards {
  margin-right: 10px;
  opacity: 0.75;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(255, 34, 86, 0.172);
}

.hobbie__cards {
  img {
    filter: url('#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: Gray();

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.hobbie__cards {
  img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.hobbie__footer-body {
  padding-top: 0.5rem !important;
  line-height: 0.5rem !important;
  height: 10%;
  padding-left: 0.5rem !important;
  padding-right: 0.15rem !important;

  small {
    color: #6c757d;
    font-size: 0.45rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hobbie__cards {
    margin-right: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1524px) {
  .hobbie__cards {
    margin-right: 10px;
  }

  .hobbie__body-text {
    font-size: 14px;
  }

  .hobbie__footer-body {
    small {
      color: #6c757d;
      font-size: 0.55rem;
    }
  }
}

@media (min-width: 1524px) {
  .hobbie__cards {
    margin-right: 4rem;
  }

  .hobbie__body-text {
    font-size: 20px;
  }
  .hobbie__footer-body {
    small {
      color: #6c757d;
      font-size: 0.75rem;
    }
  }
}
