@import '../Vars.scss';

.hobbie__cards.card {
  border: 0ch;

  @include breakpoint(mobileonly) {
    width: 70%;
    margin: 15% 10% 0 15%;
  }
  @include breakpoint(mobile) {
    width: 85%;
    margin: 3% 4% 0 4%;
  }
  @include breakpoint(tablet) {
    width: 80%;
    margin: 2% 5% 0 5%;
  }
  @include breakpoint(laptop) {
    width: 80%;
    margin: 3% 5% 0 3%;
  }
  @include breakpoint(desktop) {
    width: 76%;
    margin: 3.5% 12% 0 12%;
  }
  // @include breakpoint(largedevice) {
  //   margin: 2.5% 12% 0 12%;
  // }
  @include breakpoint(xldevice) {
    margin: 2.5% 15% 0 15%;
  }
}
.hobbie__card-title {
  font-size: 2.125rem !important;
  color: $light-green;
  font-weight: 600 !important ;
}
.hobbies__image {
  width: 100%;
  height: 30%;
  @include breakpoint(mobile) {
    height: 35%;
  }
  @include breakpoint(tablet) {
    height: 45%;
  }
  @include breakpoint(laptop) {
    height: 40%;
  }
}
.card-img,
.card-img-top {
  border-top-left-radius: none;
  border-top-right-radius: none;
}

.hobbie__card-body.card-body {
  height: 55%;
  background-color: $light-gray;
  @include breakpoint(mobile) {
    padding: 0.75rem 0.25rem 0.75rem 0.25rem;
  }

  @include breakpoint(laptop) {
    padding: 1rem 0.75rem 1rem 0.75rem;
  }
}

.hobbie__body-text {
  margin: 0 2% 2rem 2%;
  padding-bottom: 2rem;
  color: $light-blue;
  font-weight: 600 !important;
  @include breakpoint(mobile) {
    font-size: calc(1rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
  }
  @include breakpoint(tablet) {
    font-size: 10px;
  }
  @include breakpoint(laptop) {
    font-size: 16px;
  }
}

.hobbie__footer-body.card-footer {
  height: 10%;
  background: $danger-color !important;
  display: flex;
  align-items: center;
  small {
    margin: 0;
    padding: 0;
    color: $light-color;

    @include breakpoint(mobileonly) {
      font-size: calc(1rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
    }
    @include breakpoint(mobile) {
      font-size: calc(0.75rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
    }
    @include breakpoint(tablet) {
      font-size: calc(0.5rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
    }
  }
}

.hobbie__cards:hover {
  opacity: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.9), 0 3px 10px 0 rgba(4, 0, 34, 0.796);
  animation-name: example;
  animation-duration: 0.25s;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

//effect grayscale
.hobbie__cards {
  img {
    filter: url('#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: Gray();

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

.hobbie__cards {
  img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
