.school__social-icon {
  align-items: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 2em;
  height: 2rem;
}

.school__footer-icons {
  text-align: center;
}
