@import '../Vars.scss';

.school__card {
  margin: 1rem;
  padding: 1rem;
  flex-basis: auto;
  flex-grow: 1;
  @include breakpoint(mobileonly) {
    padding: 0;
    width: 100%;
  }
  @include breakpoint(mobile) {
    width: 100%;
  }
  @include breakpoint(tablet) {
    padding: 0;
    width: 80%;
  }
  @include breakpoint(laptop) {
    padding: 0;
    width: 28%;
    margin-right: 2rem;
  }

}

.school__hover-item-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5%;
  z-index: 99;
  font-weight: 300;
  margin-bottom: 0;
  text-transform: uppercase !important;
  color: $light-blue;
  font-size: calc(1rem + (24 - 16) * (100vw - 576px) / (2200 - 576));
}

.school__hover-item-description {
  color: $light-blue;
  position: absolute;
  border-right: 3px solid $danger-color;
  z-index: 99;
  text-transform: uppercase !important;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;
  font-size: calc(16px + (24 - 16) * (100vw - 576px) / (2200 - 576));
  align-items: center;
  @include breakpoint(mobileonly) {
    top: 0.5rem;
    right: 1.25rem;
    bottom: 2rem;
    left: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
  @include breakpoint(mobile) {
    top: 3rem;
    right: 2.5rem;
    bottom: 2.75rem;
    left: 1.25rem;
    padding-top: 0.25rem;
    margin-top: 0.25rem;
  }
  @include breakpoint(laptop) {
    top: 1rem;
    right: 2rem;
    bottom: 3rem;
    left: 1.25rem;
    padding-top: 0.5rem;
    margin: 0.5rem 0.5rem;
  }
  @include breakpoint(desktop) {
    top: 1rem;
    right: 2rem;
    bottom: 4rem;
    left: 1.25rem;
  }
  @include breakpoint(xldevice) {
    top: 3rem;
    right: 3rem;
    bottom: 8rem;
    left: 1.25rem;
    border-right: 5px solid $danger-color;
  }
}

.school__hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.school__hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.school__hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.school__hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.school__hover-item img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.school__hover-content {
  position: relative;
  z-index: 99;
}

.school__hover-item .school__hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.school__hover-item:hover img {
  width: 100%;
}

.school__hover-item:hover::after {
  opacity: 1;
  transform: none;
}

.school__hover-item:hover .school__hover-item-description {
  opacity: 1;
  transform: none;
}

.school__hover-item:hover .school__hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}
